* {
    box-sizing: border-box;
    font-family: 'copperplate', serif;
    margin: 0;
    padding: 0;
  }


/* Create three equal columns that float next to each other */
.column {
    float: left;
    height: 100px;
    display: flex;
  }
  
  /* Left and right column */
  .column.left {
    width: 10%;
    height: 100px;
  }
  .column.right {
    width: 10%;
    height: 100px;
    padding:30px;
    flex-flow: row-reverse nowrap;
  }
  
  /* Middle column */
  .column.middle {
    width: 80%;
    height: 100px;
    text-align: center;
    letter-spacing: 20px;
    font-size: 20px;
    display: flex;
    padding:40px;
    flex-direction: column;
  }

  /* Side columns */
  .column.side2 {
    width: 10%;
    height: 400px;
  }
  
  /* Middle column */
  .column.middle2 {
    width: 80%;
    height: 400px;
    flex-direction: row;
  }

  .column.middle3 {
    min-width: 250px;
    width: 33.33%;
    height: 400px;
    flex-direction: column;
  }

  .column.row1 {
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  /* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
  }


  /* Create three equal columns that float next to each other */
.columnA {
    float: left;
  }
  .columnA.ea {
    width: 33.33%;
    text-align: center;
  }


.text1 {
    text-align: center;
    font-size: 12px;
}

.text2 {
    text-align: center;
    font-size: 12px;
    padding: 30px;
    letter-spacing: 5px;
}
.text3 {
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
}

.text4 {
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 10px;
}

.container {
    display: block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  hr.black {
    border-bottom: 1px solid black;
    max-width: 100%;
  }
  
  .vl {
    border-left: 1px solid black;
    height: 400px;
  }

  .box1 {
    min-width: 200px;
    max-width: 350px;
    height: 100px;
    border-radius: 20px;
    background-color: black;
  }

  .boxcontent1 {
    display: block;
    font-size: 10px;
    text-align: center;
    color: white;
    margin: 20px;
    letter-spacing: 5px;
  }

  .boxcontent2 {
    display: block;
    font-size: 25px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
  }

  .break{
    height: 100px;
    width: 100%;
  }

  .break2 {
    height: 50px;
  }

  .footer {
    width: 100%;
    height: 30px;
    background-color: #000000;
    font-size: 10px;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  .overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0);
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    letter-spacing: 10PX;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: rgb(101, 165, 187);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
  }

  .column.top{
    width: 100%;
    height: 100px;
    display: none;
  }

  .logo.container{
    width: 100px;
    height: 100px;
    display: block;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

   /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 1000px) {
    hr.black, .vl, .column.side2 {
      display: none;
    }

    .column.middle2 {
      width: 100%;
    }

    .column.middle{
      font-size: 16px;
      letter-spacing: 10px;
    }

  }

  @media screen and (max-width: 750px) {
    .column.middle2 {
      flex-direction: column;      
      align-items: center;
      height: 1200px;
    }
    .column.middle {      
    letter-spacing: 10px;
    font-size: 10px;
    width: 100%;
    height: 50px;
    padding:20px;
    }
    .column.left, .column.right {
      display: none;
    }
    .column.top{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
      
    .overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 28px;
    color: white;
    display: block;
    transition: 0.3s;
    letter-spacing: 10PX;
  }
  }
